/* 아래에 CSS를 작성해주세요. */

.item-img {
    width: 300px;
}
.title{
    color: rgb(132, 128, 128);
    font-size: 16px;
}
.sub{
    color:rgb(25, 111, 240);
    font-weight: bold;
    font-size: 24px;
}

.sub2{
    color:rgb(78, 81, 87);
    font-weight: bold;
    font-size: 16px;
}
.sub3{
    color:rgb(158, 161, 165);
    font-weight: bold;
    font-size: 16px;
}
.sub4{
    color:rgb(0, 0, 0);
    font-weight: bold;
    font-size: 24px;
}
.all{
    text-align: center;
}
.text_all{
    text-align: left;
}